{% extends 'base.html' %}
{% block page-main %}
    <div class="panel-heading">出版社列表 <i class="fa fa-thumb-tack pull-right"></i></div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 pull-right">
                <a href="{% url 'add_publisher' %}" class="btn btn-success pull-right"><i class="fa fa-plus fa-fw"></i>新出版社添加</a>
            </div>
        </div><!-- /.row -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th style="display: none;">id</th>
                <th>出版社名称</th>
                <th>出版社城市</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for publisher in publisher_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td style="display: none;">{{ publisher.id }}</td>
                    <td>{{ publisher.name }}</td>
                    <td>{{ publisher.city }}</td>
                    <td>
                        <a class="btn btn-danger del_pu" href="javascript:void(0)" id="{{ publisher.id }}"><i class="fa fa-trash-o fa-fw"></i>删除</a>
                        <a class="btn btn-info" href="{% url 'edit_publisher' publisher.id %}/"><i class="fa fa-pencil fa-fw"></i>编辑</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">暂时没有数据~</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block pu %}
    active
{% endblock %}
{% block p %}
    <script>
        $('.del_pu').on('click',function () {
            var $deltd = $(this).parent().parent();
            var del_id = $(this).attr('id');
            swal({
                    title: "你确定要删除吗？",
                    text: "一旦删除就找不回来了",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: false
                },
                function () {
                    $.ajax({
                        url:"/delete_publisher/"+del_id+'/',
                        type:'post',
                        success:function (arg) {
                            swal(arg,'删除成功!','success');
                            $deltd.remove()
                        }
                    });
                });
        })
    </script>
{% endblock %}